<div class="container" ng-controller="editprofileController as vm">

	<div id="layout" class="pure-g">
		<div class="sidebar pure-u-1 pure-u-md-1-4">
			<div class="header">
				<h1 class="brand-title">
					<a ui-sref="profile">Star Wars Network</a>
				</h1>
				<h2 class="brand-tagline">A far far away software</h2>

				<nav class="nav">
					<ul class="nav-list">
						<li class="nav-item"><a class="pure-button" ui-sref="profile">Profile</a></li>
						<li class="nav-item">
							<button class="pure-button" ng-click="vm.signOut()">Logout</button>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="content pure-u-1 pure-u-md-3-4">
			<div>

				<div class="posts">
					<h1 class="content-subhead">Profile</h1>
					<h1>{{vm.username}}</h1>
					<div style="float: left">
						<img class="avatar" ng-src="{{vm.photo}}" width="100px" />

					</div>

					<form class="pure-form pure-form-aligned">
						<fieldset>
							<div class="pure-control-group">
								<label>Username</label> {{vm.username}}
							</div>

							<div class="pure-control-group">
								<label for="email">Email</label> <input id="email" type="email"
									placeholder="Email" ng-model="vm.email" value="{{vm.email}}" />
							</div>

							<div class="pure-control-group">
								<label for="photo">URL Photo</label> <input id="photo"
									type="text" placeholder="URL Photo" ng-model="vm.photo"
									value="{{vm.photo}}" />
							</div>

							<div class="pure-controls">
								<button class="pure-button pure-button-primary"
									ng-click="vm.editProfile()">Save</button>
							</div>
						</fieldset>
					</form>

				</div>

			</div>
		</div>
	</div>

</div>